*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}
.conteiner{
    display: flex;
    flex-direction: column;
    width: 1200px;
    flex-flow: column nowrap;
    align-content: flex-end;
}

.header{
    height: 60px;
    width: 1200px;
    background-color:#271651;
    order: 1;
    align-self:flex-start;
    margin-top: 2px;
  
}
.logo{

}

.logo_img{
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-top: 10px;
}

nav{
   display:inline-flex; 
   
}

nav a{
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 20px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
}
.content p{  
   font-size: 22px;
}
.box{
    background-color: white;
    width: 1200px;
    height: max-content;
    order: 5;
    padding: 35px;
    border-color:#271651;
    border-style: solid;
    box-sizing: 5px; 
}

.content h1{
    width: 1200px;
    background-color:#271651;
    order: 4;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    padding: 10px ;
}

.header__background{
    
    background-image: url("main.jpg");
    width: 1200px;
    height: 400px;
    background-size: cover;
    order: 3;
    justify-content: center;
    margin-top: 2px;
}

.footer{
   
    background-color:#271651;
    height:200px;
    width: 1200px;
    padding: 10px;
    position: absolute;
	left: 0;
	bottom: 0;
    font-size: 20px;
    padding: 30px;
}
.footer h2{
    color:#fdc516 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.footer h4{
    color: #fdc516;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}